{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>海马洗衣 取送端</title>

    <link href="{% static 'assets/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'curiers/css/loginStyle.css' %}">
    <script src="{% static 'assets/jquery/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
	<script language="JavaScript" src="{% static 'curiers/js/loginJs.js' %}"></script>
</head>

<body>
    <nav class="title-color title-text container-fluid">
        <ul class="nav row">
            <li class="col-xs-12">
                <a class="title-format">登录</a>
            </li>
        </ul>
    </nav>
	
  <div class="login">
	<div class="login-background"></div>
	   <div class="input-group form-group"> 
           <span class="input-group-addon" id="sizing-addon4">
	          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
	       </span>	
           <input id="phoneNum" type="text" class="form-control" maxlength="11" placeholder="请输入手机号码" style="padding-right:0% "/>  
           <span class="input-group-btn">  
              <button id="btn_verification_code"class="btn btn-primary" onclick="checkMobile(phoneNum.value);">发送验证码</button>  
            </span>  
        </div>  
	

    <div class="input-group form-group">  
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </span>
        <input id="checkCode" type="text" class="form-control" maxlength="4" placeholder="请输入验证码" style="padding-right:0% "/>
    </div>  

	
	<center><button id="login-btn" class="btn-login">登录</button></center>
	<center><button id="regiter-btn" class="btn-register">注册</button></center>
  </div>
</body>
</html>