{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>海马洗衣 取送端</title>

    <script src="{% static 'assets/jquery/jquery-3.1.1.min.js' %}"></script>


    <link href="{% static 'assets/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'curiers/css/personal.css' %}">
    <script src="{% static 'curiers/js/script.js' %}"></script>

</head>

<body>
<nav class="title-color title-text container-fluid">

    <ul class="nav row">
        <li class="col-xs-12">
            <p class="nav-top">个人中心</p>
        </li>
    </ul>
</nav>


<nav class="navbar navbar-default navbar-fixed-bottom container-fluid">
    <ul class="nav row">
        <li class="col-xs-3 active">
            <a href="/courier/unaccepted_orders/" class="nav-btn">
                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                未接单
            </a>
        </li>
        <li class="col-xs-3">
            <a href="/courier/accepted_orders/" class="nav-btn">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                已接单
            </a>
        </li>
        <li class="col-xs-3">
            <a href="/courier/complete_orders/" class="nav-btn">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                已完成
            </a>
        </li>
        <li class="col-xs-3">
            <a href="/courier/personal/" class="nav-btn">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                我的
            </a>
        </li>
    </ul>
</nav>
</body>
</html>