.navbar-default.navbar-fixed-top {
    background-color: #0076ff;
    z-index: 1;
}

.navbar-default.navbar-fixed-top a {
    color: #ffffff;
    font-size: 15px;
    z-index: 1;
}

.nav-top, .nav-btn {
    text-align: center;
    padding: 0px !important;
    height: 50px;
    line-height: 50px;
}

.nav-top:hover, .nav-btn:hover, .nav-btn:focus {
    background: none !important;
}

.home-container {
    margin-top: 51px;
    margin-bottom: 51px;
    padding-top: 20px;
}

.category-item img {
    height: 100px !important;
}

.category-item .caption {
    text-align: center;
}

.icon-left-card {
    float: left;
    width: 12px;
    height: 10px;
    margin-top: -40px;
    margin-left: 15px;
    z-index: 2;
    position: absolute;

}

.price {
    text-align: center;
    margin-top: -20px;
    margin-left: 0px;
}

.cart-footer {
    height: 50px;
    width: 100%;
    border-top: 1px solid #000;
    position: absolute;
    bottom: 0;
}

.cart-left {
    float: left
}

.cart-mid {
    float: left;
}

.cart-right {
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    text-align:center;
    padding-top: 15px;
    background-color: #00dbf5;
}
.div-address{
    border-top: 1px solid #a3a3a3;
    border-bottom: 1px solid #a3a3a3;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
}
.name{
    float: left;
    margin-right: 20px;
}
.order-items{
    border-top: 1px solid #a3a3a3;
    padding-top: 15px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.order-item{
    height: 20px;
    margin-bottom: 10px;
}
.item-name{
    float:left;
    width: 100px;
}
.item-price{
    margin-left: 150px;
    float: left;
}
.item-amount{
    float: right
}
.cart-mid{
    float: right;
    margin-right: 130px;
    text-align: right;
}