.register-background {
    position: fixed;
    height: 100%;
    width: 100%;
    background: url(Hippocampus.png) repeat-x center center;
    top: 0;
    z-index: -1;
    background-size: 100% 100%;
}

.title-color{
    background-color: #25ADFA;
    
}
.title-text a{
    color: #ffffff;
    font-size:20px;
    z-index: 1;
}
.title-format{
    text-align: center;
    padding: 0px !important;
    height: 50px;
    line-height: 50px;
}	
	
.register{
	position: absolute;
	top: 120px;
	width: 100%;
    padding: 5%;
}

.btn-register {
  border: 1px solid #00dbf5;
  background-color: #25ADFA;
  height: 42px;
  color: #fff;
  border-radius: 6px;
  display: block;
  line-height: 42px;
  text-align: csenter;
  width: 80%;
  font-size: 1.1em;
  margin-top:30px;
}

	
