{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>详情</title>

    <script src="{% static 'assets/jquery/jquery-3.1.1.min.js' %}"></script>

    <!-- Bootstrap -->
    <link href="{% static 'assets/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- stylesheet -->
    <link rel="stylesheet" href="{% static 'products/css/category.css' %}">

    <!-- javascript -->
    <script src="{% static 'products/js/catogory.js' %}"></script>

</head>

<body>
<div class="icon-left-card" style="width: 12px; height: 10px;">
    <a href="/products/index/"><img alt="" src="{% static 'products/images/left_icon.png' %}"></a>
</div>
<nav class="navbar navbar-default navbar-fixed-top container-fluid">
    <ul class="nav row">
        <li class="col-xs-12">
            <a href="#" class="nav-top">
                <div id="title"></div>
            </a>
        </li>
    </ul>
</nav>
<div class="container-fluid home-container">
    <select id="address-select" onchange="changeAdd(this.value)" style="margin-left: 80%;margin-bottom: 10px">
        {% for i in addressList %}
            {{ i }}
            <option value={{ i.id }}>{{ i.name }}</option>
        {% endfor %}
    </select>
    <div class="row" id="categories">
    </div>
</div>
<div class="cart-footer">
    <div class="cart-left" id="foot-buycar">
        <a href="/products/ship_cart/">
            <i class="gwc-num"><img src="{% static 'products/images/cart.png' %}" style="height: 40px;width: 40px"></i>
        </a>

    </div><!--购物车标志-->
    <div class="cart-mid">
        <div style="text-align: right;width: 100%;margin-top: 15px">￥<div id="total-price" style="float: right">0</div></div>
    </div>
    <div class="cart-right">
        <a href="/products/ship_cart/">
            <div class="foot-btn">在线预约</div>
        </a>
    </div>
</div>
</body>

</html>